* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  height: 100%;
  overflow: hidden;
  font-family: Helvetica, arial, freesans, clean, sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
  outline: 0;
  cursor: pointer;
}
